<h1>This is your test page</h1>

<form action = "/", method = "post">
	<fieldset>
	<legend>Enter Information </legend>
	<label>Your Name: </label>
	<input type = text name = yourName id = theName></input>
	<input type = submit name = submitName></input>
	</fieldset>
</form>