<h1>Welcome to the To-Do List Application</h1>

<form action = "/" method = "post">

	<label for = "name">Your Name: </label>
	<input id = "name" type = "text" name = "name">
	<input type = "submit" name = "submitName">

</form>