<h1>POST Request Received</h1>

<p>The parameter names and values sent in the URL query string are:</p>
	<ul>
	{{#each qReqList}}
		<li>{{this.attribute}}: {{this.value}}</li>
	{{/each}}
	</ul>
	
<p> The property names and values sent in the body of the request are:</p>
	<ul>
	{{#each reqList}}
	<li>{{this.attribute}}: {{this.value}}</li>
	</each>
	</ul>