<script src = "script.js"></script>

<h1>Welcome to your workout tracker</h1>
 
<form id = "newEx">
<fieldset>
<legend>Add exercise</legend>
		Name: <input type = "text" name = "name" id = "name"></input><br><br>
		Reps: <input type = "number" name = "reps" id = "reps"></input><br><br>
		Weight: <input type = "text" name = "weight" id = "weight"></input><br><br>
		Date (YYYY-MM-DD): <input type = "text" name = "date" id = "date"></input><br><br>
		Lbs/Kgs: <input type = "radio" name = "lbs" id = "unitTrue" value = "true" checked = "checked"></input>Lbs <input type = "radio" name = "lbs" id = "unitFalse" value = "false"></input> Kgs <br><br>
		<input type = "button" name = "submitEx" value = "Add exercise" onclick = "addRow()"></input>

</fieldset>
</form>

<table id = "myTable" border = "1">
<tr>
	<th>Name</th>
	<th>Reps</th>
	<th>Weight</th>
	<th>Date</th>
	<th>Lbs(1) or Kgs (0)?</th>
</tr>
<table>

