<h1>Welcome to your workout tracker</h1>

<table id = "workoutTable">
	<tr>
	<th>Name</th>
	<th>Reps</th>
	<th>Date</th>
	<th>Weight</th>
	<th>Lbs</th>
	</tr>
	<tr id = "firstRow">
	</tr>

</table>